name: Python build
on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 .
        continue-on-error: true
      - name: Test with pytest
        run: |
          pip install pytest
          pytest
      - name: Create output directory
        run: mkdir spec_compare_output
      - name: Run script
        run: python Spec_compare_exec.py
      - uses: actions/upload-artifact@v3
        with:
          name: Spec_compare result
          path: spec_compare_output
